.centered{
    display: flex;
    justify-content: center;
}

.pyramidHeader{
    font-weight: 1;
}

.shapeT {
	width:1000px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pyramid_container{
    height:750px;
    display: grid;
    justify-items: center;
    clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%);
}

.tier1{
    background-color: red;
    margin-bottom: 10px;
}

.tier2{
    background-color: orange;
    margin-bottom: 10px;
}

.tier3{
    background-color: yellow;
}

.tier4{
    background-color: green;
}

.tier5{
    background-color: cyan;
}

.tier6{
    background-color: navy;
}

.date_container{
    margin:10px;
}

.value_button{
    height:30px;
    width:30px;
    background-color: gray;
}
body{
    
}